* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

body {
  font-family: var(--default-font);
  font-size: 18px;
  line-height: 1.8;
  margin: 0 auto;
  width: 750px;
}

@media screen and (max-width: 1260px) {
  body {
    width: 100%;
    padding: 0 20px;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.6;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

a {
  color: inherit;
}

#header {
  margin: 30px auto;
}

#header h1 {
  font-size: 18px;
}

#header h1 a {
  text-decoration: none;
}

#content {
  margin-bottom: 50px;
}

#footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#footer i {
  margin: 4px;
}

img {
  width: 100%;
}

table {
  width: 100%;
  border-spacing: unset;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  border: 1px solid black;
  padding: 8px;
}
