* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  font-size: 18px;
  margin: 0 auto;
  width: 900px;
}

@media screen and (max-width: 1260px) {
  body {
    width: 100%;
    padding: 0 20px;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

a {
  color: inherit;
}

#header {
  margin: 30px auto;
}

#header h1 {
  font-size: 18px;
}

#header h1 a {
  text-decoration: none;
}

#content {
  margin-bottom: 50px;
}

#footer {
  margin-bottom: 30px;
  font-size: 14px;
}