// Color
color-border = #ddd

// Font
font-default = system-ui, "Helvetica Neue", "Helvetica", Arial, sans-serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace

// Width
page-width = 1200px