-
  const year = new Date().getFullYear();

doctype html
html(lang="en")
  head
    include includes/head.pug
    style
      block styles
        include ../source/styles/variables.css
        include ../source/styles/base.css
    include includes/ga.pug
  body
    header#header
      h1
        a(href=config.root)=config.title
    div#content
      block content
    footer#footer
      div
        a(href="mailto:sheshbabu@gmail.com", target="_blank")
          i(class="fas fa-envelope-square fa-lg")
        a(href="https://github.com/sheshbabu", target="_blank")
          i(class="fab fa-github-square fa-lg")
        a(href="https://www.linkedin.com/in/sheshbabu/", target="_blank")
          i(class="fab fa-linkedin fa-lg")
        a(href="https://www.twitter.com/sheshbabu", target="_blank")
          i(class="fab fa-twitter-square fa-lg")
        a(href="/atom.xml")
          i(class="fas fa-rss-square fa-lg")
      p &copy; #{year} #{config.author}