-
  const year = new Date().getFullYear();

doctype html
html(lang="en")
  head
    include includes/head.pug
    style
      block styles
        include ../source/styles/variables.css
        include ../source/styles/base.css
    include includes/ga.pug
  body
    header#header
      h1
        a(href=config.root)=config.title
    div#content
      block content
    footer#footer
      p &copy; #{year} #{config.author}