icon-size = 32px
icon-gap = 25px

article
  .post-content
    margin-bottom 50px
    position relative

  header
    .title
      font-weight normal
      a
        text-decoration none

  .entry
    line-height 1.6
    p, blockquote, ul, ol, dl, table, iframe, h3, h4, h5, h6, .video-container
      margin-top 15px

    blockquote
      border-top 1px solid color-border
      border-bottom 1px solid color-border
      font-style italic
      font-size 1.2em
      padding 0 30px 15px
      text-align center
      footer
        border-top none
        font-size 0.8em
        line-height 1
        margin 20px 0 0
        padding-top 0
        cite
          &:before
            content '—'
            color #ccc
            padding 0 0.5em

    code, pre
      font-family font-mono

    code
      background hsl(230, 1%, 98%)
      color #666
      padding 0 5px
      margin 0 2px
      font-size 0.9em
      border-radius 3px
      word-break break-all

    pre
      background hsl(230, 1%, 98%)
      border 1px solid #eee
      margin-top 15px
      overflow auto
      padding 7px 15px
      border-radius 2px
      code
        background none
        padding 0
        margin 0
        border none
        border-radius 0

    ul, ol, dl
      margin-left 20px
      ul, ol, dl
        margin-top 0

    h1, h2
      font-weight normal
      border-bottom 1px solid color-border
      padding-bottom 10px
      margin-top 20px

    h3, h4, h5, h6
      font-weight normal

    img, video
      max-width 100%
      height auto
      border none

    iframe
      border none

    .caption
      display block
      margin-top 5px
      position relative
      font-size 0.9em
      padding-left 25px

    .video-container
      position relative
      padding-bottom 56.25%
      padding-top 30px
      height 0
      overflow hidden
      iframe, object, embed
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        margin-top 0

    .pullquote
      float right
      border none
      padding 0
      margin 1em 0 0.5em 1.5em
      text-align left
      width 45%
      font-size 1.5em

  footer
    margin-top 15px
    padding-top 10px
    font-size 0.9em
    line-height 16px
    position relative
    min-height 16px

    .categories, .tags
      position relative
      margin 5px 0
