figure.highlight
  background hsl(230, 1%, 98%)
  margin-top 15px
  padding 7px 15px
  overflow auto
  position relative
  font-size 14px
  figcaption
    margin-bottom 5px
    a
      position absolute
      right 15px

  pre
    border none
    padding 0
    margin 0
    overflow-y hidden

  table
    margin-top 0
    border-spacing 0

  .gutter
    padding-right 15px
    border-right 1px solid color-border
    text-align right

  .code
    color #666

  .line
    height: 25px

  .line.marked
    background: #d6d6d6

// Using colors from https://github.com/atom/one-light-syntax
pre
  .comment
  .template_comment
  .diff .header
  .doctype
  .pi
  .lisp .string
  .javadoc
    color hsl(230, 4%, 64%);
    font-style italic

  .keyword
  .winutils
  .method
  .addition
  .css .tag
  .request
  .status
  .nginx .title
    color hsl(301, 63%, 40%);

  .attr
    color hsl(198, 99%, 37%)

  .number
  .command
  .string
  .tag .value
  .phpdoc
  .tex .formula
  .regexp
  .hexcolor
    color hsl(119, 34%, 47%)

  .title
  .localvars
  .chunk
  .decorator
  .built_in
  .identifier
  .vhdl
  .literal
  .id
    color hsl(221, 87%, 60%);

  .attribute
  .variable
  .lisp .body
  .smalltalk .number
  .constant
  .class .title
  .parent
  .haskell .type
    color hsl(41, 99%, 30%);

  .preprocessor
  .preprocessor .keyword
  .shebang
  .symbol
  .symbol .string
  .diff .change
  .special
  .attr_selector
  .important
  .subst
  .cdata
  .clojure .title
    color hsl(41, 99%, 38%);

  .deletion
    color #dc322f
